/*Jorge Castro JCAS8903 */
body{
    background-color: #2a2828a8;
    }

    h2{
        color: rgb(39, 45, 39);
    }
    h1{
        color : hsl(0, 13%, 94%) !important;
        text-align: center;
    }
    #video{
        font-size : 20px;
    }
    iframe, video {
        border: 2px solid #011401;
        border-radius: 10px;
    }
    iframe, video {
    padding: 1rem;
    }
    iframe, video {
        width: 100%;
    }
    main p{
        color :#140101;
    }
    section{
        background :hsla(0, 1%, 77%, 0.753);
    }

    header{
        background-image: linear-gradient(hwb(0 4% 51%) 10%, rgb(255, 255, 255) 10%, black 80%) !important;

        margin : 1rem 1.5rem .5rem;
        margin : 1rem;
    }
    .main-section-figure{

       border-radius : 1rem;
       text-align: center;

    }
    #relative-path-image{
        background-color: rgb(17, 16, 16);
        border : .25rem solid #d00606;
        color :rgb(250, 245, 245);
    }
    #absolute-path-image{
        background-color: rgb(17, 16, 16);
        border : .25rem solid #e01010;
        color : hsl(240, 22%, 95%);
    }
    .main-section-figure img{
        width : 20%;
        height : 40%;
        padding : .5rem;
        border-radius : 1rem;

    }
    main {
        margin-top : 5rem;

    }
    #quote{
        p{
            color :#140101;
        }
        section{
            background :hsla(0, 1%, 77%, 0.753);
        }
    }
    header, footer {
        background: linear-gradient(to right, hsl(132, 12%, 92%), #0a0000);
    }